/* Fondo de la página */
body {
    background-color: lightblue;
}

/* Estilo para el canvas: Negro */
#canvas {
  background-color: black;
}

button {
  width: 100px;
  height: 50px;
  margin-left: 70px;
}
